<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/spoid/mybatis/spoidMapper.xml">
	<!-- MEMBERDAO -->
 	<!-- ======================================================================================== -->
 	<insert id="insertMember" parameterType="com.spoid.dto.MemberDTO">
		INSERT INTO SpoidMember(id, pw, rpw, nick, email, hint1, hint2) 
		VALUES(#{id},#{pw},#{rpw},#{nick},#{email}, #{hint1}, #{hint2})
	</insert>
	
	<select id="confirmID" parameterType="String" resultType="String">
		SELECT * FROM SpoidMember WHERE id=#{userid}
	</select>
	
	<select id="confirmPwd" parameterType="com.spoid.dto.MemberDTO"  resultType="String">
		SELECT * FROM SpoidMember 
		WHERE id=#{id} AND pw=#{pw}
	</select>
	
	<select id="loginCheck"  parameterType="com.spoid.dto.MemberDTO" resultType="com.spoid.dto.MemberDTO">
		SELECT * FROM SpoidMember
		WHERE id=#{id} AND pw=#{pw}
	</select>
	
	<update id="updateMember" parameterType="com.spoid.dto.MemberDTO">
			 UPDATE SpoidMember SET
			 pw = #{pw},
			 rpw = #{rpw}, 
			 nick = #{nick},
			 email = #{email},
			 hint1 = #{hint1},
			 hint2 = #{hint2}
			 where id = #{id}
	</update>
	
	<update id="updatePassword" parameterType="com.spoid.dto.MemberDTO">
			UPDATE SpoidMember SET pw = #{new_pw} WHERE id=#{id} and pw =#{pw}
	</update> 
	<delete id="deleteMember" parameterType="String">
			DELETE FROM SpoidMember
			WHERE id = #{userid}
	</delete>
	
	<update id="hintCheck" parameterType="com.spoid.dto.MemberDTO">
		UPDATE SpoidMember SET
		hint1 = #{hint1},
		hint2 = #{hint2}
		WHERE id = #{id}
	</update>
	
	<!-- 회원정보 조회 -->
	<select id="selectMember" parameterType="String" resultType="com.spoid.dto.MemberDTO">
		SELECT * FROM SpoidMember
		WHERE id = #{id}
	</select>

	<!-- ====================================================================================== -->
	<select id="countPaging" resultType="int">
		<![CDATA[
		    SELECT count(bno) 
			FROM spoidboard 
			WHERE bno>0 
		]]>
		<if test='category=="1"'>
			<![CDATA[AND category = #{category}]]>         				
		</if>
		<if test='category=="2"'>
			<![CDATA[AND category = #{category}]]>         				
		</if>
		<if test='flag=="1"'>               
             <![CDATA[ AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%']]>
		</if>
        <if test='flag=="2"'>               
              <![CDATA[ AND title LIKE '%'||#{keyword}||'%']]>
         </if>
         <if test='flag=="3"'>               
              <![CDATA[ AND content LIKE '%'||#{keyword}||'%']]>
          </if>
          <if test='flag=="4"'>               
              <![CDATA[ AND writer LIKE '%'||#{keyword}||'%']]>
          </if>  
	</select>

	<select id="boardList" resultType = "com.spoid.dto.BoardDTO">
       
       	<![CDATA[
       		 SELECT * FROM ( SELECT rownum rnum, 
                            a.* 
                            FROM( SELECT *
                            FROM spoidboard
                            WHERE bno >0 ]]>
					        <if test='category == "1" or category == "2"'>
					            <![CDATA[AND category = #{category}]]>         				
					        </if>
					        
	                            <if test='flag=="1"'>               
	                          	 	<![CDATA[AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%']]>
	                            </if>
	                            <if test='flag=="2"'>               
	                            	 <![CDATA[AND title LIKE '%'||#{keyword}||'%']]>
	                            </if>
	                            <if test='flag=="3"'>               
	                           		 <![CDATA[AND content LIKE '%'||#{keyword}||'%']]>
	                            </if>
	                            <if test='flag=="4"'>               
	                         		 <![CDATA[AND writer LIKE '%'||#{keyword}||'%']]>
	                            </if>
                            <if test='code=="new"'>
								ORDER BY bno desc                            
                            </if>                                                                        
                            <if test='code=="good"'>
								ORDER BY goodcnt desc, bno desc                            
                            </if> 
                             <if test='code=="reply"'>
								ORDER BY replycnt desc, bno desc                            
                            </if>
                             <if test='code=="cnt"'>
								ORDER BY viewcnt desc, bno desc                            
                            </if>      
                  <![CDATA[		
                            )a
                        )
       	 	WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
       	 ]]>
	</select>
	<select id="boardDetailView" resultType="com.spoid.dto.BoardDTO">
		<![CDATA[
			SELECT * FROM spoidboard
			WHERE bno = #{bno}
		]]>
	
	</select>
	
	<update id="viewCnt">
		UPDATE spoidboard
			SET viewcnt = viewcnt+1
			WHERE bno = #{bno}
	</update>
	<insert id="boardInsert" parameterType="com.spoid.dto.BoardDTO">
		
		<choose>
			<when test="content != null">
			INSERT INTO spoidboard(bno, title, content, writer,filename,filesize) VALUES(seq_minions.NEXTVAL, #{title},#{content},#{writer},#{filename},#{filesize})
			</when>
			<otherwise>
			INSERT INTO spoidboard(bno, title, writer,filename,filesize) VALUES(seq_minions.NEXTVAL, #{title},#{writer},#{filename},#{filesize})
			</otherwise>
		
		</choose>
		
	</insert>
	<update id="boardUpdate" parameterType="com.spoid.dto.BoardDTO">
		UPDATE spoidboard 
			SET title = #{title},
				writer = #{writer}, 
				
			<if test="filename != 'no'">	
				filename=#{filename}, 
				filesize=#{filesize},
			</if>
				content=#{content} 
			WHERE bno=#{bno}
	</update>
	<delete id="boardDelete" parameterType="String">
		DELETE FROM spoidboard WHERE bno=#{bno}
	</delete>
	
	<!--  ================================= -->
	<!-- ReplyDAO -->
	<select id="replyListAll" parameterType="String" resultType="com.spoid.dto.ReplyDTO">
		SELECT * FROM spoidreply
		WHERE bno = #{bno}
		ORDER BY rno ASC
	</select>
	<delete id="deleteComment" parameterType="String">
		DELETE FROM spoidreply WHERE rno=#{rno}
	</delete>
	
	
	<insert id="replyInsert" parameterType="com.spoid.dto.ReplyDTO">
		INSERT INTO spoidreply(rno, content, writer,bno) 
		VALUES(seq_spoidreply_rno.NEXTVAL,#{content},#{writer},#{bno})	
	</insert>
	<update id="updateReplyCnt"  parameterType="com.spoid.dto.BoardDTO">
		 UPDATE spoidboard 
		 SET replycnt=replycnt+#{flag}
		 WHERE bno=#{bno}
	
	</update>
	<update id="updateGoodCnt"  parameterType="String">
		 UPDATE spoidboard 
		 SET  goodcnt=goodcnt+1
		 WHERE bno=#{bno}
	
	</update>
	<update id="replyUpdate" parameterType="com.spoid.dto.ReplyDTO">
		 UPDATE spoidreply 
		 SET  content=#{content}
		 WHERE bno=#{bno} AND rno=#{rno}	
	</update>
	
	
	
	
	<!-- =================================================================================================================== -->
	<!-- OneCenterDAO -->
	<insert id="insertOneCenter" parameterType="com.spoid.dto.OneCenterDTO">
		INSERT INTO SpoidOneCenter(id,email,title,content)
		VALUES(#{id},#{email}, #{title}, #{content})
	</insert>
 </mapper>